<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Blog Blog Blog</title>
</head>
<style>
    body {
        background: linear-gradient(to bottom, #FF66B2, #FFC0CB);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: 100%;
        flex-direction: column;
    }
    button, input{
        margin: 10px auto;
        display: block;
    }

    .jumbotron{
        background-color: transparent;
        color: black;
        font-size: 24px;
        padding: 20px;
    }
</style>

<body>
    <div class="jumbotron text-center">Welcome To Blog Blog Blog</div>
    {{#if logged_in}}
    <div>
        <button id="logout">Log Out</button>
    </div>
    <div>
         <a href="/dashboard"><button>Dashboard</button></a>
    </div>
    {{else}}
    <div>
        <a href="/login"><button>Login</button></a>
    </div>
    <div>
        <a href="/login"> <button>Sign up</button></a>
    </div>

    {{/if}}
    
    {{{body}}}
    <script src="/js/logout.js">

    </script>
</body>

</html>